@import url('https://fonts.googleapis.com/css?family=VT323');


body {
  background-color: black;
  font-family: 'VT323';
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
  justify-content: center;
}

input {
  padding: 20px;
  text-align: center;
  font-size: 2em;
  color: white;
  background-color: black;
  border: 2px groove grey;
}

input:active {
  box-shadow: none;
}

h2 {
  text-align: center;
  color: white;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  color: white;
}

th,td {
  text-align: center;
}

footer a {
  text-decoration: none;
  font-weight: bold;
  color: #252A2D;
}

footer a:hover {
  text-decoration: none;
  color: white;
}