@import url('https://fonts.googleapis.com/css?family=VT323');


body {
  background-color: black;
  font-family: 'VT323';
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
  justify-content: center;
}

input {
  padding: 20px;
  text-align: center;
  font-size: 2em;
  color: white;
  background-color: black;
  border: 2px groove grey;
}

input:active {
  box-shadow: none;
}

h2 {
  text-align: center;
}

