@import url('https://fonts.googleapis.com/css?family=VT323');


body {
  background-color: black;
  font-family: 'VT323';
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  border: 3px solid red;
}